<h1 class="text-3xl font-bold mb-6 text-center"><%= @category.name %></h1>
<% if @products.any? %>
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
  <% @products.each do |product| %>
    <div class="border rounded p-4 flex flex-col h-full">
      <div class="mb-4">
        <%= image_tag product.image.variant(resize: "300x300") if product.image.attached? %>
      </div>
      <h2 class="text-xl font-semibold mb-2"><%= product.name %></h2>
      <p class="mb-2"><%= product.description %></p>
      <p class="text-gray-700 mb-4">Price: <%= number_to_currency(product.base_price) %></p>
      
      <div class="mt-auto">
        <div class="flex space-x-2 justify-center mb-4">
          <% if product.on_sale %>
            <span class="inline-block bg-green-200 text-green-800 text-sm px-2 py-1 rounded">On Sale</span>
          <% end %>
          <% if product.updated_at >= 3.days.ago %>
            <span class="inline-block bg-yellow-200 text-yellow-800 text-sm px-2 py-1 rounded">Recently Updated</span>
          <% end %>
        </div>
        <div class="flex space-x-2 justify-center mt-4">
          <%= link_to 'View Details', product_path(product), class: 'bg-blue-500 text-white py-2 px-4 rounded text-center mr-2' %>
          <% if session[:cart]&.key?(product.id.to_s) %>
            <button class="bg-gray-500 text-white font-bold py-2 px-4 rounded cursor-not-allowed" disabled>Added to Cart</button>
          <% else %>
            <%= form_with url: add_to_cart_path, method: :post, local: true, class: "inline-block" do |f| %>
              <%= hidden_field_tag :product_id, product.id %>
              <%= hidden_field_tag :category_id, params[:category_id] %>
              <%= hidden_field_tag :on_sale, params[:on_sale] %>
              <%= hidden_field_tag :recently_updated, params[:recently_updated] %>
              <%= hidden_field_tag :search, params[:search] %>
              <%= f.submit 'Add to Cart', class: "bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded" %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<% else %>
  <p class="text-center text-gray-600 mt-4">No products found in this category.</p>
<% end %>

<div class="pagination mb-6">
  <%= paginate @products %>
</div>